<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployServiceURL>https://gpswithfriends.cloudapp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>GWF_WebServices_IN_0_Web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>bunny</UserName>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GWF_DBEntitiesContainer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GWF_WebServices.Entities.GPSWithFriends_dbEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GWF_WebServices.Entities.GPSWithFriends_dbEntities" />
  </ItemGroup>
</Project>